services:
  caddy:
    image: caddy:2-alpine
    volumes:
      - static:/srv/static:ro
      - ./data_docker/media:/srv/media:ro
    configs:
      - source: caddyfile
        target: /etc/caddy/Caddyfile
    hostname: caddy # needed for coolify preview deploys
    depends_on:
      - web

  web:
    build:
      context: .
      args:
        GIT_COMMIT_SHA: ${GIT_COMMIT_SHA:-}
        GIT_COMMIT_MSG: ${GIT_COMMIT_MSG:-}
        GIT_BRANCH: ${GIT_BRANCH:-}
    container_name: stashcast_web
    environment:
      STASHCAST_DATA_DIR: /app/data_docker
    hostname: web
    volumes:
      - static:/app/staticfiles
      - .:/app
      - ./data_docker:/app/data_docker

  worker:
    build:
      context: .
      args:
        GIT_COMMIT_SHA: ${GIT_COMMIT_SHA:-}
        GIT_COMMIT_MSG: ${GIT_COMMIT_MSG:-}
        GIT_BRANCH: ${GIT_BRANCH:-}
    container_name: stashcast_worker
    command: python manage.py run_huey
    hostname: worker
    depends_on:
      - web
    environment:
      STASHCAST_DATA_DIR: /app/data_docker
    volumes:
      - .:/app
      - ./data_docker:/app/data_docker

volumes:
  static:

configs:
  caddyfile:
    content: |
      :80 {
        # encode gzip
        handle /static/* {
          uri strip_prefix /static
          root * /srv/static
          file_server
        }
        handle /media/files/* {
          uri strip_prefix /media/files
          root * /srv/media
          file_server
        }
        reverse_proxy web:8000
      }
