{% load i18n %}
<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="{% translate 'Toggle navigation' %}"></button>
<nav class="sticky" id="nav-sidebar" aria-label="{% translate 'Sidebar' %}">

  {# Custom Tools Section #}
  <div class="app-tools module">
    <table>
      <caption>
        <a href="#" class="section" title="{% translate 'StashCast Tools' %}">{% translate "Tools" %}</a>
      </caption>
      <tr class="model-tools">
        <th scope="row"><a href="{% url 'admin_stash_form' %}">{% translate "Add URL" %}</a></th>
      </tr>
      <tr class="model-tools">
        <th scope="row"><a href="{% url 'bookmarklet' %}">{% translate "Bookmarklet" %}</a></th>
      </tr>
      <tr class="model-tools">
        <th scope="row"><a href="{% url 'grid_view' %}">{% translate "Grid View" %}</a></th>
      </tr>
      <tr class="model-tools">
        <th scope="row"><a href="{% url 'list_view' %}">{% translate "List View" %}</a></th>
      </tr>

      <tr class="model-tools">
        <th scope="row"><a href="{% url 'feed_links' %}">{% translate "Feed Links" %}</a></th>
      </tr>

      <tr class="model-tools">
        <th scope="row"><a href="{% url 'preferences' %}">{% translate "About" %}</a></th>
      </tr>

      <tr class="model-tools">
        <th scope="row"><a href="/">{% translate "Site Home" %}</a></th>
      </tr>

    </table>
  </div>

  {# Standard Django apps #}
  {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}

</nav>
